html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: black; */
}

canvas {
  display: block;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}